ion-header{
    padding: 60px;
    text-align: center;
    background-color: rgb(51, 119, 245);
    margin: 0%;
  }
  
  .titulo{
    font-size: xx-large;
  }
  
  
  .opacidad{
    opacity: 15%;
    text-align: center;
  }
  
  ion-tittle{
    color: rgb(235, 231, 34);
  }
  
  .separacion{
    padding: 15px;
    padding-top: 10%;
  }
  
  .contenido{
    background-color: rgb(235, 235, 235);
    height: 100%;
  }
  
  .centrado{
    text-align: center;
  }
  
  .boton{
    padding-top: 10%;
  }
  
  .olvido{
    padding-top: 10px;
  }