<ion-header>
  <div>
    <ion-title class="titulo"><span style="color: white">TeLlevo</span><span style="color:yellow">App</span></ion-title>
  </div>
</ion-header>

<ion-content>
  <div class="contenido">
    <div>
      <h2>Viajes programados</h2>
    </div>
    <div class="separacion">

    </div>

    <div class="boton">
      <div class="centrado">
        <ion-button color="success" routerLink="/chofer">Programar viaje</ion-button>
      </div>
    </div>
    <div class="boton">
      <div class="centrado">
        <ion-button color="warning" routerLink="/home">Volver a seleccionar</ion-button>
      </div>
    </div>
  </div>
</ion-content>