<ion-header>
  <div>
    <ion-title class="titulo"><span style="color: white">TeLlevo</span><span style="color:yellow">App</span></ion-title>
  </div>
</ion-header>

<ion-content>
  <div class="contenido">
    <div class="separacion">
      <ion-item class="opacidad">
        <ion-label>Bienvenid@ *Nombre de Usuario*</ion-label>
      </ion-item>

      <ion-item class="opacidad">
        <ion-label color="primary">¿Como viajará hoy?</ion-label>
      </ion-item>

    </div>
    <div class="boton">
      <div class="centrado">
        <ion-button color="warning" routerLink="/inicio-pasajero">Pasajero</ion-button>
      </div>
    </div>

    <div class="boton">
      <div class="centrado">
        <ion-button color="warning" routerLink="/inicio-chofer">Chofer</ion-button>
      </div>
    </div>
  
  </div>
</ion-content>    