ion-header{
    padding: 40px;
    text-align: center;
    background-color: rgb(51, 119, 245);
    margin: 0%;
}

.titulo{
    background-color: rgb(51, 119, 245);
    margin: 0;
}

ion-tittle{
    color: rgb(235, 231, 34);
}

.contenido{
    background-color: rosybrown;
}


