ion-header{
    padding: 40px;
    text-align: center;
    background-color: rgb(51, 119, 245);
    margin: 0%;
}


.toolbar {
  background-color: rgb(51, 119, 245)
}


.titulo{
    background-color: rgb(51, 119, 245);
    margin: 0;
}

.input{
  margin-top: 60px;
  opacity: 10%;
}

ion-tittle{
    color: rgb(235, 231, 34);
}

.contenido{
    background-color: white;
}

.centrado{
  text-align: center;
}

.olvide{
  text-align:center;
}
