<ion-header>
  <ion-toolbar >
    <ion-title class="titulo">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido">
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-button color="warning">Warning</ion-button>
  
  <ion-label color="primary">Olvidé mi contraseña</ion-label>
</div>
</ion-content>
