ion-header{
    padding: 40px;
    text-align: center;
    background-color: rgb(51, 119, 245);
}

ion-toolbar{
    background-color: rgb(53, 85, 231);
}

ion-tittle{
    color: rgb(235, 231, 34);
}


