<ion-header>
  <div>
    <ion-title class="titulo"><span style="color: white">TeLlevo</span><span style="color:yellow">App</span></ion-title>
  </div>
</ion-header>

<ion-content>
  <div class="contenido">
    <div class="separacion">
      <ion-item class="opacidad">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="opacidad">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>

    <div class="boton">
      <div class="centrado">
        <ion-button color="warning" routerLink="/home">Ingresar</ion-button>
      </div>
    </div>
    <div class="olvido">
      <div class="centrado">
        <ion-label color="primary" routerLink="/cambiar-password">Olvidé mi contraseña</ion-label>
      </div>
    </div>
  </div>
</ion-content>