<ion-header>
  <div>
    <ion-title class="titulo"><span style="color: white">TeLlevo</span><span style="color:yellow">App</span></ion-title>
  </div>
</ion-header>

<ion-content>
  <div class="contenido">
    <div>
      <h2>Cambiar contraseña</h2>
    </div>
    <div class="separacion">
      <ion-item class="opacidad">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="opacidad">
        <ion-input type="password" position="floating">Contraseña</ion-input>
      </ion-item>

      <ion-item class="opacidad">
        <ion-input type="password" position="floating">Repetir ontraseña</ion-input>
      </ion-item>
    </div>

    <div class="boton">
      <div class="centrado">
        <ion-button color="warning" routerLink="/inicio-sesion">Guardar contraseña</ion-button>
      </div>
    </div>
    
  </div>
</ion-content>

